.landingPage {
  color: black;
  background-color: #e9dfed;
  min-height: 100vh;
  /* width: 50%; */
}
/* Define the styles for the cardContainer */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.carWrapper {
  display: flex;
  flex-direction: column;
}
